* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shellbox {
    height: 2200px;
    border: 1px solid rgb(21, 19, 19);


    // background-image: url('https://cdn.jsdelivr.net/gh/Dspcoder/img/bjimg.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // position: fixed;
    background-color: rgba(245, 245, 245);

}

.s-top {
    background-color: black;
}