.v-box {
    // background-color: black;
    margin-top: 5rem;

    // background-color: red;
    .v-top {
        background-color: black;
    }

    .v-bottom {
        margin-top: 30px;
        height: 5px;
        background-color: rgb(93, 19, 231);
    }

    .v-lunbo1 {
        height: 460px;
        border: 1px solid rgb(17, 237, 72);
    }
}