.D-box1 {
    width: 90%;
    display: flex;

    // border: 1px solid red;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;

    background-color: rgb(255, 255, 255);
    margin-top: 5rem;

    img {
        width: 270px;
        height: 399px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .D-textContent-box {
        margin-left: 30px;
    }
}


.D-box2 {
    width: 80%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid red;
    overflow: scroll;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 9px;

    .D-map-box {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        border: 1px solid red;
        margin-left: 15px;
        margin-top: 10px;
        text-align: center;

        a {
            text-decoration: none;
            color: #000;
        }
    }
}